.tarjetaArticulo{
    width: 24%;
    height: 60%;
    background-color: white;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 5px;
}

.fotoArticulo{
    width: 90%;
    height: 80%;
    margin: auto;
    background-color: lightcoral;
}

.descripcionArticulo{
    width: 90%;
    height: 20%;
    margin: auto;
    background-color: darkkhaki;


}

.espacioParaDescripcion{
    width: 60%;
    height: auto;
    float: left;
    background-color: teal;
}

.espacioParaPrecio{
    width: 30%;
    height: auto;
    float: right;
    background-color: green; 
}

#contenedorTarjetas{
    margin: auto;
    background-color: white;
    width: 90%;    
    text-align: center;
   
}