.tarjetaArticulo{
    width: 20%;
    height: 40%;
    background-color: cornflowerblue;
    display: inline-block;
}

.fotoArticulo{
    width: 90%;
    height: 80%;
    margin: auto;
    background-color: lightcoral;
}

.descripcionArticulo{
    width: 90%;
    height: 20%;
    margin: auto;
    background-color: darkkhaki;


}

.espacioParaDescripcion{
    width: 60%;
    height: auto;
    float: left;
    background-color: teal;
}

.espacioParaPrecio{
    width: 30%;
    height: auto;
    float: right;
    background-color: green; 
}

#contenedorTarjetas{
    margin: auto;
    background-color: tomato;
    width: 90%;
    height: 100%;
   
}